{% load edw_tags edw_fluent_tags i18n %}
{% with related_by_tags_count=publication.related_by_tags|length %}
{% if related_by_tags_count %}
    <div class="col-md-3 col-md-offset-1 col-sm-12">
        {% with addendum_s=subjects|yesno:"1,0" addendum_i=images|yesno:"4,0" %}
            {% with addendum=addendum_s|add:addendum_i %}
                {% with readalsomaxitems=text|striptags|length|divide:400|add:addendum|maximal:1|minimal:related_by_tags_count|stringformat:"i" %}
                    {% if text|striptags|length != 0 %}
                        {% get_entities data_mart_pk='readalso' limit=readalsomaxitems as entities %}
                        {% include 'nash_region/partials/compact_json/container.html' with className="ex-data-mart read-more" not_id__in=publication.id data_mart_id='readalso' view_component='publication_list' name='Читайте также' template_name="related" limit=4 %}
                    {% endif %}
                {% endwith %}
            {% endwith %}
        {% endwith %}
    </div>
{% endif %}
{% endwith %}
